$font:'Courier New', Courier, monospace;
$color:rgb(201, 255, 6);
$color2:white;
$bcolor:rgb(103, 101, 101);
$size:25px;
$fullsize:100%;
$fullheight:100vh;
$fav:relative;
$ct:center;
@mixin width($value){
    width:value;
}
@mixin height($value)
{
    height:$value;
}

@media screen and (max-width:676px) {

.homeContainer{
position:relative;
width:$fullsize;
height:100vh;

img{
    width:100%;
    height:100Vh;
}
.ourcarinfo
{
    position:$fav;
    width:100%;
    text-align:$ct;
    width:100%;
    height:100vh; 
   
   
h2{
        position:$fav;
        color:$color2;
        top:-50%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: 1;
       
    }
    @keyframes slidein {
        0%
        {
            left:100%;
        }
        100%{
            left:0%;
        }
        
    }
    p{
        position:$fav;
        color:$color2;
        top:-50%;
        font-size:$size;
        font-family: $font;
        animation-duration: 7s;
        animation-name: slidein;
        animation-iteration-count: 1;
    }
}
}
.modelsContainer
{
    position:absolute;
    margin-top:-4%;
    text-align: $ct;
    height:auto;
    width:100%;
    background:rgb(228, 226, 226);
    h3{
        position: relative;
       top:30px;
    }
    .modelsInfo
    {
        position:$fav;
        width:80%;
        left:10%;
         
        border-radius: 10px;
        .card{
            width:100%;
            background: rgb(110, 110, 110);
            margin-top:70px;
            border-radius: 20px;
            p{
                color:white
            }
            button{
                background:transparent;
                border-radius: 10px;;
                box-shadow: 0.2px 0.2px 20px black;
                border:1px solid white;
            }
        }
    }
}
.display_container
{
    position:relative;
    top:-10%;
    width:100%;
    height:auto;
}
.display-card
{
   position:absolute;
    width:100%;
    height:auto;
    background:rgb(99, 98, 98)
}
.display-card p{

color:white;
text-align:center;
margin-top:15%;
font-size: 25px;
font-family: 'Courier New', Courier, monospace;
};
.display-card img{
position:relative;
width:80%;
height:40vh;
left:10%;
};
.selection
{
    position:absolute;
    width:100%;
    height: auto;
    top:9%;
    background-color: rgb(92, 91, 91);
    .input{
           position:relative;
           width:30%;
           height:8vh;
           margin-top:1%;
           left:35%;color:white;
           font-size: 25px;
           text-align: center;
        }
        .selection_container
    {
        position:relative;
        width:100%;
        height:auto;
        display:block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .selection_card
        {
            position:relative;
            width:60%;
            height:40vh;
            margin-top:160px;
            left:20%;
            background:rgb(45, 45, 45);
            color:white;
            text-align: center;
            box-shadow: 1px 1px 20px black;
            img{
                position:relative;
                width:100%;
                height:79%;
            }
        }
    }
}

}
@media screen and (min-width:1024px) {
    .homeContainer
    {
        width:100%;
        height:100%;
        .homeOurinfo
        {
            position:relative;
            width:100%;
            height:90vh;
            img{
                position:relative;
                width:100%;
                height:100%;
            }
            .ourcarinfo
            {
                position:relative;
                top:-50%;
                width:100%;
                height:100%;
                text-align: center;
                color:white;
                h2{
                    position:$fav;
                    font-size: 60px;
                   font-family: 'Courier New', Courier, monospace;
                }
                p {
                    position:$fav;
                    font-size: 40px;
                    font-family: 'Courier New', Courier, monospace;
                };
            }
        }
        
    }
.modelsContainer
{ 
    width:100%;
    height:auto;
    background:rgb(205, 204, 204);
    text-align: center;
    h3{
        position:$fav;
        width:20%;
        left:39%;
        top:6px;
        color:white;
        background:rgb(138, 138, 138);
        font-family: 'Courier New', Courier, monospace;
    }
    .modelsInfo
    {
        position:$fav;
        width:100%;
        margin-top:100px;
        display:block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card{
            position:$fav;
            background:rgb(92, 91, 91);
            width: 45%;
            left:27%;
            margin-top:90%;
            height:auto;
            border:none;
            box-shadow: 1px 1px 20px black;
            margin-top:40px;
            border-radius: 20px;
            bottom: 20px;;
            p{
                color:white;
                text-transform: uppercase;
                font-size: 30px;
            };
            .para{
                font-size:20px;
            }
            button{
                border-radius: 10px;
                width:15%;
                background:transparent;
                border:1px solid rgb(79, 78, 78);
                box-shadow: 1px 1px 20px black;
                color:white;
            }
           
        }
    }
}
.selection
{
    position:absolute;
    width:100%;
    height: auto;
    top:9%;
    background-color: rgb(92, 91, 91);
    .input{
           position:fixed;
           width:30%;
           height:8vh;
           margin-top:1%;
           left:35%;color:white;
           font-size: 25px;
           z-index: 1;
           text-align: center;
        }
        .selection_container
    {
        position:relative;
        width:100%;
        height:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        .selection_card
        {
            position:relative;
            width:30%;
            height:40vh;
            margin-top:160px;
            margin-left:20px;
            margin-right: 20px;
            background:rgb(45, 45, 45);
            color:white;
            text-align: center;
            box-shadow: 1px 1px 20px black;
            img{
                position:relative;
                width:100%;
                height:79%;
            }
        }
    }
}
.display_container
{
    width:100%;
    height:auto;
    background:rgb(163, 162, 162);
    .display-card
    {
        position:relative;
        width:100%;
        color:white;
        text-align: center;
        
        height:auto;
        .dcard{
            position:relative;
            width:50%;
            height:60vh;
            left:25%;
            background:rgb(67, 67, 67);
            img{
                position:relative;
                width:100%;
                height: 100%;
            }
        }
    }
}

}
