$font:'Courier New', Courier, monospace;
$color:rgb(201, 255, 6);
$color2:white;
$bcolor:rgb(103, 101, 101);
$size:25px;
$fullsize:100%;
$fullheight:100vh;
$fav:relative;
$ct:center;
@mixin width($value){
    width:value;
}
@mixin height($value)
{
    height:$value;
}

@media screen and (max-width:676px) {
    .footer
    {
        position: relative;
        bottom: 0;
        width: 100%;
        height: auto;
        background: rgb(5, 2, 13);
      color:white;
        box-shadow: 2px 2px 20px rgb(55, 55, 55);
        display:flex;
        flex-wrap: wrap;
        .footercontaint1
        {
            position:relative;
            width:30.33%;
            margin-left:0px;
            text-align: center;
            
            h1{
                position:relative;
                top:10px;
                font-size: 20px;

                
            }
            p{
                position:relative;
                top:10px;
               
            }
        }
        .footercontaint2
        {
            position:relative;
            left:10%;
            text-align: center;
            h1{
                position:relative;
                top:10px;
                font-size: 20px;
                
            }
            p{
                position:relative;
                width:100% ;
                height:40%;
               
                
            }
        }
        .footercontaint3
        {
            position:relative;
            width:33.33%;
            left:32%;
            text-align: center;
            bottom: 10px;
            
         
            h1{
                position:relative;
                top:10px;
                font-size: 20px;
               
            }
            a{
                position:relative;
               color:white
             
               
            }
        }
    }
    .BookContainer
    {
        width:100%;
        height: 100vh;
        background:rgb(157, 156, 156);
        .Bookform
        {
            position: relative;
            width:100%;
            height:auto;
            background:rgb(157, 156, 156);
            margin-bottom: 200px;
            
            .Book_Carinfo
            {
               position: relative;
                top:160px;
                width:100%;
                left:0%;
                margin-bottom: 200px;
                height:60vh;
                background:transparent;
                border-radius: 30px;
                text-align: center;font-family: 'Courier New', Courier, monospace;
                color:white;
                img{
                    position:relative;
                    width:95%;
                }
                p{
                    position:relative;
                    font-size: 25px;
                }
                
            }
            .Booking_details
            {
                position: relative;
                top:100px;
                width:100%;
                text-align: center;
                height:70vh;
                margin-bottom: 100px;
                background-color:  rgb(157, 156, 156);
                input{
                    position:relative;
                    text-align: center;
                    width: 60%;
                }
                button{
                    width:20%;
                    background:transparent;
                    border:none;
                    color:white;
                    font-family: 25px;
                    box-shadow: 1px 1px 20px black;
                    border-radius: 20px;
                    font-family:'Courier New', Courier, monospace ;
                }
                label{
                    position:relative;
                    font-family: 'Courier New', Courier, monospace;
                    color:white;
                    font-size: 20px;
                    
                }
                p{
                    color:white;
                    font-size: 25px;
                }
            }
        }
    }
    .contactContainer
{
    width: 100%;
    height:100vh;
    background:rgb(207, 206, 206);
    
    .contactForm
    {
        position:relative;
        text-align: center;
        width:60%;
        height:auto;
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgb(246, 127, 127);
        top:30%;
        left:20%;
        background:rgb(101, 101, 101);
        h2{
            color:white;
            font-family: 'Courier New', Courier, monospace;
        }
        label{
            color:white;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
        }
        p{
            color:red;
            font-family: 'Courier New', Courier, monospace;
        }
        input{
            position:relative;
            width: 80%;
        }
        button{
            position:relative;
            margin-bottom: 20px;
            width: 25%;
            border:none;
            background:transparent;
            color:white;
            font-family: 'Courier New', Courier, monospace;
            box-shadow: 1px 1px 10px black;
            border-radius: 10px;
        }
    }
}
.service_container
{
    position:relative;
    width:100%;
    margin-top:-20px;
    height:425vh;
    background: rgb(85, 84, 84);
    .service_inner
    {
        position:relative;
        width:100%;
        top:75px;
        height:450vh;
        text-align: center;
        h1{
            position: relative;
            color:white;
            font-size: 30px;
            font-family: 'Courier New', Courier, monospace;
            margin-top:4%
        }
        .serviceno1
        {
            position:relative;
            width:100%;
            height:auto;
            .no1img
            {
                position:relative;
                width:100%;
                height:40vh;
                img{
                    position:relative;
                    width:100%;
                    height:100%;
                }
            }
            .mo1info
            {
                position: relative;
                width: 100%;
                height:auto;
                margin-top:5%;
                color:white;
                font-size: 18px;
                font-family: 'Courier New', Courier, monospace;
            }
        }
        .service2
        {
            position:relative;
            width:100%;
            height:auto;
            .service2info{
                position: relative;
                width:100%;
                height:auto;
                text-align: center;
                h3{
                    position:relative;
                    margin-top:10%;
                    color:white;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 30px;;
                }
                .brand
                {
                    position:relative;
                    width:100%;
                    height:auto;
                    margin-top:10%;
                    .brand1
                    {
                        position:relative;
                        width:100%;
                        height:auto;
                        .barndinfo
                        {
                            position:relative;
                            height:auto;
                            width:90%;
                            left:5%;
                            color:white
                        }
                        .brandlogo{
                            position:relative;
                            width: 100%;
                            height:40vh;
                            img{
                                position: relative;
                                width: 100%;
                                height:100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.homeContainer{
position:relative;
width:$fullsize;
height:100vh;

img{
    width:100%;
    height:100Vh;
}
.ourcarinfo
{
    position:$fav;
    width:100%;
    text-align:$ct;
    width:100%;
    height:100vh; 
   
   
h2{
        position:$fav;
        color:$color2;
        top:-50%;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        animation-duration: 2s;
        animation-name: slidein;
        animation-iteration-count: 1;
       
    }
    @keyframes slidein {
        0%
        {
            left:100%;
        }
        100%{
            left:0%;
        }
        
    }
    p{
        position:$fav;
        color:$color2;
        top:-50%;
        font-size:$size;
        font-family: $font;
        animation-duration: 7s;
        animation-name: slidein;
        animation-iteration-count: 1;
    }
}
}
.modelsContainer
{
    
    top:11%;
    text-align: $ct;
    height:auto;
    width:100%;
    background:rgb(228, 226, 226);
    h3{
        position: relative;
      top:5%;
       color:rgb(57, 57, 57);
       font-family: 'Courier New', Courier, monospace;
    }
    .modelsInfo
    {
        position:$fav;
        width:80%;
        left:10%;
         
        border-radius: 10px;
        .card{
            width:100%;
            background: rgb(110, 110, 110);
            margin-top:70px;
            border-radius: 20px;
            p{
                color:white
            }
            button{
                background:transparent;
                border-radius: 10px;;
                box-shadow: 0.2px 0.2px 20px black;
                border:1px solid white;
            }
        }
    }
}
.display_container
{
    position:relative;
    width:100%;
    height:auto;

.display-card
{
   position:absolute;
    width:100%;
    height:auto;
    top:10%;
    background: rgb(171, 171, 171);
    .inner-card
    {
        position:relative;top:50px;
        width:80%;
        left:10%;
        margin-bottom: 15%;;
        height:50vh;
        background:rgb(63, 63, 63);
        border-radius: 10px;
        box-shadow: 1px 1px 20px black;
         p{
            position:relative;
            
            color:white;
            text-align:center;
            margin-top:15%;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            };
            .price
            {
                position:relative;
                top:-40px;
            }
             img{
                position:relative;
                width:80%;
                height:30vh;
                top:10px;
                left:10%;
                }
        
    }
    
}

.display-card img{
position:relative;
width:80%;
height:40vh;
left:10%;
}
}
.selection
{
    position:relative;
    width:100%;
    top: 100px;
    height: auto;
    top:9%;
    background-color: rgb(92, 91, 91);
    .input{
           position:relative;
           width:30%;
           height:8vh;
          
           left:35%;
           color:white;
           font-size: 25px;
           text-align: center;
        }
        .selection_container
    {
        position:relative;
        width:100%;
        height:auto;
        display:block;
        margin-bottom:0px ;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .selection_card
        {
            position:relative;
            width:60%;
            height:45vh;
            margin-bottom:10px ;
            margin-top:50px;
            left:20%;
            background:rgb(45, 45, 45);
            color:white;
            text-align: center;
            box-shadow: 1px 1px 20px black;
            .namep{
                position:relative;
                top:2%;
            }
            img{
                position:relative;
                width:100%;
                height:79%;
               
            }
            p{
                position: relative;
                margin-bottom: 10px;
            }
        }
    }
    
}

}
@media screen and (min-width:1024px) {
    .homeContainer
    {
        width:100%;
        height:100%;
        .homeOurinfo
        {
            position:relative;
            width:100%;
            height:90vh;
            img{
                position:relative;
                width:100%;
                height:100%;
            }
            .ourcarinfo
            {
                position:relative;
                top:-50%;
                width:100%;
                height:100%;
                text-align: center;
                color:white;
                h2{
                    position:$fav;
                    font-size: 60px;
                   font-family: 'Courier New', Courier, monospace;
                }
                p {
                    position:$fav;
                    font-size: 40px;
                    font-family: 'Courier New', Courier, monospace;
                };
            }
        }
        
    }
.modelsContainer
{ 
   
    top:9%;
    width:100%;
    height:auto;
    background:rgb(205, 204, 204);
    text-align: center;
    h3{
        position:$fav;
        width:20%;
        left:39%;
        font-size: 35px;
        top:6px;
        color:white;
        font-family: 'Courier New', Courier, monospace;
    }
    .modelsInfo
    {
        position:$fav;
        width:100%;
        margin-top:100px;
        display:block;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card{
            position:$fav;
            background:rgb(92, 91, 91);
            width: 45%;
            left:27%;
            margin-top:90%;
            height:auto;
            border:none;
            box-shadow: 1px 1px 20px black;
            margin-top:40px;
            border-radius: 20px;
            bottom: 20px;;
            p{
                color:white;
                text-transform: uppercase;
                font-size: 30px;
            };
            .para{
                font-size:20px;
            }
            button{
                border-radius: 10px;
                width:15%;
                background:transparent;
                border:1px solid rgb(79, 78, 78);
                box-shadow: 1px 1px 20px black;
                color:white;
            }
           
        }
    }
}
.selection
{
    position:relative;
    width:100%;
    height: auto;
    top:70px;
    background-color: rgb(92, 91, 91);
    margin-bottom: 70px;
    .input{
           position:fixed;
           width:30%;
           height:8vh;
           margin-top:1%;
           left:35%;color:white;
           font-size: 25px;
           z-index: 1;
           text-align: center;
        }
        .selection_container
    {
        position:relative;
        width:100%;
        height:auto;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        .selection_card
        {
            position:relative;
            width:30%;
            height:40vh;
            margin-top:160px;
            margin-left:20px;
            margin-right: 20px;
            margin-bottom: 10px;
            background:rgb(45, 45, 45);
            color:white;
            text-align: center;
            box-shadow: 1px 1px 20px black;
            img{
                position:relative;
                width:100%;
                height:79%;
            }
        }
    }
}
.display_container
{
    position:relative;
    width:100%;
    height:auto;

.display-card
{
   position:absolute;
    width:100%;
    height:auto;
    background: rgb(171, 171, 171);
    .inner-card
    {
        position:relative;
        top:70px;
        width:40%;
        top:-15%;
        margin-bottom: 5%;
        left:30%;
        height:50vh;
        background:rgb(63, 63, 63);
        border-radius: 10px;
        box-shadow: 1px 1px 20px black;
         p{
            position:relative;
            
            color:white;
            text-align:center;
            margin-top:15%;
            font-size: 25px;
            font-family: 'Courier New', Courier, monospace;
            };
            .price
            {
                position:relative;
                top:-40px;
            }
             img{
                position:relative;
                width:80%;
                height:30vh;
                top:10px;
                left:10%;
                }
            }
    }
    
}
.service_container
{
    position:relative;
    width:100%;
    top:70px;
    height:auto;
    margin-bottom: 70px;
    background:rgb(209, 207, 207);
    .service_inner
    {
        position:relative;
        width:100%;
        height:auto;
        background:rgb(209, 207, 207);
        top:9.4%;
        
        h1{
            color:rgb(255, 255, 255);
            font-family: $fav;
            position:relative;
            text-align: center;
            top:1%;
        }
        .serviceno1
        {
            position:relative;
            top:9%;
            width:100%;
            height:60vh;
            background:rgb(205, 204, 204);
            display:flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            .no1img
            {
                position:relative;
                width:60%;
                height:100%;margin-top:5%;
                img{
                    position:relative;
                    height:90%;
                    width:100%;
                };
            }
            .mo1info
            {
                position:relative;
                width:40%;
                height:100%;
                color:rgb(79, 77, 77);
                font-family: 'Courier New', Courier, monospace;
                .rentalcar
                {
                    position:relative;
                    margin-top:-0%;
                    font-family: 'Courier New', Courier, monospace;
                    font-size: 30px;
                    animation-name: upper;
                    animation-duration: 5s;
                    animation-iteration-count: 1;
                    
                    i{
                        color:rgb(247, 8, 8);
                        font-size: 35px;
                    }
                } 
                @keyframes upper {
                    0%
                    {
                        top:98%;
                    }
                    100%
                    {
                        top:0%
                    }
                }          

            }
        }
        .service2
        {
            position:relative;
            width:100%;
            height:auto;
            margin-top:5%;
            text-align: center;
            .service2info
            {
                position:relative;
               color:rgb(116, 114, 114);
               font-family: 'Courier New', Courier, monospace;
                height:auto;
              h3{
                position:relative;
                font-size: 45px;
                     animation-name: upper1;
                    animation-duration: 5s;
                    animation-iteration-count: 1;
              }
              @keyframes upper1 {
                0%{
                   opacity: 0;
                }
                100%{
                    opacity: 2;
                }
                
              }
              .brand
              {
                position:relative;
                width:100%;
                height:auto;
                .brand1
                {
                    position:relative;
                    width:80%;
                    left:10%;
                    height:35vh;
                    margin-top:4%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    .barndinfo
                    {
                        position:relative;
                        width:40%;
                        height:100%;
                        animation-name: upper;
                        margin-top: 5%;;
                    animation-duration: 3s;
                    animation-iteration-count: 1;
                    }
                    .brandlogo
                    {
                        position:relative;
                        width:40%;
                        height:100%;
                        bottom: 0%;
                       
                        img{
                            position:relative;
                            width:90%;
                            height:85%;
                            
                        }
                    }
                    
                }
              }
                
            }
            
        }
    }
}
.contactContainer
{
    width: 100%;
    height:100vh;
    background:rgb(207, 206, 206);
    .contactForm
    {
        position:relative;
        text-align: center;
        width:20%;
        height:auto;
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgb(246, 127, 127);
        top:30%;
        left:40%;
        background:rgb(101, 101, 101);
        h2{
            color:white;
            font-family: 'Courier New', Courier, monospace;
        }
        label{
            color:white;
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
        }
        input{
            position:relative;
            width: 80%;
        }
        p{
            color:red;
            font-family: 'Courier New', Courier, monospace;
        }
        button{
            position:relative;
            margin-top:0%;
            margin-bottom: 20px;
            width: 25%;
            border:none;
            background:transparent;
            color:white;
            font-family: 'Courier New', Courier, monospace;
            box-shadow: 1px 1px 10px black;
            border-radius: 10px;
        }
    }
}
.BookContainer
{
    width:100%;
    height: 100vh;
    background:rgb(157, 156, 156);
    overflow: hidden;
    .Bookform
    {
        position: relative;
        width:100%;
        height:95vh;
        background:rgb(157, 156, 156);
        display:flex;
        justify-content: center;
        align-items: center;
        
        .Book_Carinfo
        {
           position: relative;
            top:250px;
            width:40%;
            margin-bottom: 250px;
            height:80vh;
            background:transparent;
            border-radius: 30px;
            text-align: center;font-family: 'Courier New', Courier, monospace;
            color:white;
            img{
                position:relative;
                width:95%;
                left:0%;
            }
            p{
                position:relative;
                font-size: 25px;
            }
            
        }
        .Booking_details
        {
            position: relative;
            top:180px;
            width:45%;
            text-align: center;
            height:70vh;
            margin-bottom: 100px;
            background-color:  rgb(157, 156, 156);
            input{
                position:relative;
                text-align: center;
                width: 60%;
            }
            button{
                width:20%;
                background:transparent;
                border:none;
                color:white;
                font-family: 25px;
                box-shadow: 1px 1px 20px black;
                border-radius: 20px;
                font-family:'Courier New', Courier, monospace ;
            }
            label{
                position:relative;
                font-family: 'Courier New', Courier, monospace;
                color:white;
                font-size: 20px;
                
            }
            p{
                color:white;
                font-size: 25px;
            }
        }
    }
}
.footer
{
    position:relative;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background:rgb(4, 1, 12);
    box-shadow: 2px 2px 20px rgb(55, 55, 55);
    display:flex;
    justify-content: space-between;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    .footercontaint1
    {
        position:relative;
        width:33.33%;
        text-align: center;
        h1{
            position:relative;
            top:10px;
            font-size: 34px;
            
        }
        p{
            position:relative;
           top:10px;
           
        }
    }
    .footercontaint2
    {
        position:relative;
        width:33.33%;
        text-align: center;
        h1{
            position:relative;
            top:10px;
            font-size: 34px;
            font-family: 'Courier New', Courier, monospace;
        }
    }
    .footercontaint3
    {
        position:relative;
        width:33.33%;
        text-align: center;
        h1{
            position:relative;
            top:10px;
            font-size: 34px;
            font-family: 'Courier New', Courier, monospace;
        }
        a{
            position:relative;
            color:white;
         
           
        }
    }
}
}
